body{
    width: 100%;
    margin: 0;

    font-size: 115%;
    font-family: "Oswald", serif;
}

/* The header-footer class used to make changes 
to the header & footer of the resume.*/
.header-footer{
    text-align: center;
    background-color: #827099;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    border-bottom: #ada6d5 6px solid;
    border-top: #ada6d5 6px solid; 
}

.header-footer p{
    color: black;
}

.header-footer h1{
    color:black;
    text-decoration: underline;
}


.header-footer ul{
    padding-left: 0;
    margin-left: 0;
}

.header-footer ul li{
    list-style: none;
    color: black;
}

.header-footer ul li a{
    text-decoration: none;
    color: black;
}

.header-footer ul li a:hover{
    text-decoration: underline;
    color: black;
    font-size: 105%;
}

.header-footer h2{
    color: black;
    text-decoration: underline;
}

/* Customization of the resume photo.*/
#header img{
    border-radius: 200px;
    width: 15%;
    border: solid 4px #E4E1F4;
}


/* Customizing the navigation */
#navigation{
    text-align: center;
    background-color:#c0bcd6;
    padding-top: 0.5rem;
    border-bottom:#ada6d5 solid 6px;
}

#navigation img{
    width: 2.5%;
    position: static;
}

#navigation ul{
    margin-left: 0;
    padding-left: 0;
}

#navigation ul li{
    list-style: none;
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ada6d5;
}

#navigation ul li a{
    text-decoration: none;
    color: black;
}

#navigation ul li a:hover{
    text-decoration: underline;
    color: black;
    font-size: 105%;
}

#main {
    background-color: #cdcbd7;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#main h2{
    margin-top: 0;
    padding-top: 1rem;
}

.image_and_title_container{
    display: flex;
    align-items: center;
    background-color: #cbc8e1;
    border: #4a3f57 solid 2px;
    margin: 0.2rem;
}

.image_and_title_container img{
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container-1{
    display: flex;
    flex-direction: column;

    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;

    background-color: #ada6d5;
    border: solid black 4px;
    box-shadow: #4a3f57 3px 3px 4px;
}

.box-1, .box-2, .box-3, .box-4{
    border: solid black 4px;
    box-shadow: #4a3f57 3px 3px 4px;

    margin: 0.5rem;
    background-color: #e2e1e9;
    flex: 1;
    min-width: 0;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.box-1 p{
    padding-left: 1rem;
    padding-right: 1rem;
}

.indent-experience-li{
    padding-left: 1rem;
    padding-bottom: 1rem;

    list-style: none;
}

.ident-skills-li{
    padding-bottom: 0.5rem;
}

/*Updates the size of different parts
of the website when on mobile devices.*/
@media (max-width: 600px){

    body{
        font-size: 140%;
    }

    #header img{
        width: 45%;
    }

    .box-2 ul{
    padding-right: 1rem;
    }

    #navigation img{
        width: 10%;
    }

    .row-container{
        flex-direction: column;
    }
}
